@import 'tailwindcss';

@theme {
   --font-sans: Outfit, sans-serif;
   --color-brand-yellow: #fde047;
   --color-brand-blue: #bae6fd;
   --color-brand-dark: #18181b;
   --shadow-hard: 4px 4px 0 0 #18181b;
   --shadow-hard-sm: 2px 2px 0 0 #18181b;
}